@import "reset.css";
*,
*::after,
*::before{
    box-sizing: inherit;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
}

.container {
    max-width: 1201px;
    margin: 0 auto;
}

/*--------------------------------------------------------*/
/*--------------------------------------------------------*/
/*------------------------header--------------------------*/

.header {
    background: url(Group17.jpg) no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 700px;
    color: #fff;
    margin-bottom: 300px;
    
}

.header-top {
    padding-top: 47px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 106px;
}

.header-top__number {
    font-size: 36px;
    font-weight: 400;
    line-height: 53px;
    text-align: left;

}

.header-content{
    position: relative;
}

h1 {
    font-size: 72px;
    font-weight: 400;
    line-height: 85px;
    text-transform: uppercase;
}

h2 {
    font-size: 36px;
    font-weight: 400;
    line-height: 53px;
    text-transform: uppercase;
}

h3 {
    font-size: 24px;
    font-weight: 300;
}

.text {
    margin: 30px 0;
}

.btn{
    width: 250px;
    height: 50px;
    background-color: #5A0D67;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: background-color 0.2s linear, color 0.2s linear;
}

.btn:hover {
    color: #5A0D67;
    background-color: #fff;

}

.header-content__links {
    display: flex;
    max-width: 120px;
    margin-left: 65px;
    justify-content: space-between;
    margin-top: 70px;
}

.mysterius_square {
    margin-top: 60px;
    margin-left: 86px;
    width: 55px;
    height: 61px;
    background-color: #C4C4C4;
}

.mustang-img {
    position: absolute;
    bottom: -200px;
    right: 0;
}

/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*------------------------Content1--------------------------*/


.our-service {
    margin-bottom: 100px;
}

.our-service__inner {
    display: flex;
    
}

.our-service__text {
    width: 504px;
    padding: 50px 96px 50px 0;
}

.h2-line {
    display: flex;
    min-width: none;
}

.our-service__inner h2 {
    color: #21062A;
}
.line {
    width: 80px;
    height: 0;
    border: 2px solid #21062A;
    margin-left: 20px;
    margin-top: 21px;
}

.our-service__text1 {
    padding-bottom: 57px;
}
.our-service__text1 p{
    padding-bottom: 12px;
}

.our-service__text-title {
    line-height: 27px;
    color: #5A0D67;
    margin-bottom: 12px;
}

.button_push {
    display: flex;
    align-items: center;
    position: absolute;
}

.button_push p {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0em;
    color: #C4C4C4;
    text-transform: uppercase;
    position: relative;
    left: 5px;
}

.btn__indicator {
    width: 80px;
    height: 0;
    border: 1px solid #C4C4C4;
    position: relative;
    left: -5px;
}

.our-service__list {
    padding: 100px 0;
    list-style: none;
    counter-reset: my-counter;
    width: 450px;
}

.our-service__item {
    counter-increment: my-counter;
    border: 1px solid #C4C4C4;
    margin-bottom: 12px;
    padding: 10px 15px 10px 113px;
    position: relative;
    transition: all .6s;
}

.our-service__item::before {
    content: '0' counter(my-counter);
    position: absolute;
    left: 20px;
    font-size: 36px;
    line-height: 54px;
    font-weight: 400;
    color: #C4C4C4;
    transform: rotate(270deg);
}

.our-service__item:hover{
    border: 2px solid #5A0D67;
    width: 386px;
}

.our-service__item:hover::before {
    color: #5A0D67;
}

.our-service__item:hover .list__title{
    color: #5A0D67;
}

.list__title {
    color: #C4C4C4;
}
/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*------------------------Content2--------------------------*/

.whywe {
    margin-bottom: 100px;
}

.whywe__inner {
    display: flex;
}

.whywe__title {
    padding-left: 280px;
    padding-bottom: 50px;
}

.whywe__list {
    color: #fff;
    width: 779px;
    height: 507px;
    background-color: #21062A;
    margin-left: 95px;

}
.item {
    max-width: 316px;
    padding: 30px 0 0 185px;
}

.item h2{
    line-height: 36px;
}

.item h3{
    line-height: 36px;
}

.item p{
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 27px;
    color: #C4C4C4;
}
/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*------------------------Content3--------------------------*/

.carousel {
    padding-bottom: 100px;
}

.carousel__title {
    padding-bottom: 50px;
}

.carousel__inner {
    padding: 0 -7px;
}

.carousel__item {
    padding: 0 7px;
}

.carousel__item-box{
    border: 1px solid #C4C4C4;
    padding: 6px 6px 18px 6px;
    margin-right: -5px;
    text-align: center;
    transition: all 0.5s;
}

.carousel__item-box:hover {
    color: #fff;
    background-color: #5A0D67;
    border-color: #5A0D67;
}

.carousel__img {
    min-width: 100%;
    margin-bottom: 23px;
}

.carousel__item__title {
    font-weight: 300;
    margin-bottom: 5px;
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}

.slick-dots button{
    font-size: 0;
    padding: 0;
    margin: 0 10px;
    background-color: #C4C4C4;
    width: 50px;
    height: 1px;
}

.slick-active button {
    background-color: #5A0D67;
    height: 3px;
}
/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/
/*------------------------Contacts App-----------------------*/

.communication__inner {
    display: flex;
    justify-content: space-between;
}

.contacts__title {
    margin: 50px 0;
}

.contacts__list {
    padding-bottom: 57px;
}

.contacts__item {
    padding-bottom: 20px;
}

.contacts__item__header {
    color: #5A0D67;
}

.application {
    width: 450px;
    height: 359px;
    background-color: #21062A;
    padding: 50px 75px 57px;
}

.application__title {
    color: #fff;
    margin: 0 0 16px 50px;
}

.line__white {
    border: 2px solid #fff;

}

.name {
    background-color: transparent;
    border: 1px solid #C4C4C4;
    width: 450px;
    height: 75px;
    margin-bottom: 12px;
    font-size: 24px;
    color: #C4C4C4;
    text-align: center;
    padding: 0 5px;
    font-weight: 300;
}

.tellnum {
    background-color: transparent;
    border: 1px solid #C4C4C4;
    width: 450px;
    height: 75px;
    margin-bottom: 78px;
    font-size: 24px;
    color: #C4C4C4;
    text-align: center;
    padding: 0 5px;
    font-weight: 300;
}
.name::placeholder, 
.tellnum::placeholder {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
}
.send__dtn {
    margin-left: 100px;
}

/*--------------------------------------------------------*/
/*--------------------------------------------------------*/
/*------------------------Fotter--------------------------*/

.footer {
    background-color: #21062A;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: 100px;
}

.header-content__links__imagea {
    margin: 0 4px;

}
